body{
    text-align: center;
}


.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.3rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: pink;
}

.green{
    background-color: green;
}

.purpule{
    background-color: purple;
}

.sky{
    background-color: skyblue;
}

.flash{
    background-color: yellow;
}

.userflash{
    background-color: white;
}